.logo {
    height: 300px;
    width: 300px;
}

.logo-nav {
    height: 110px;
    width: 110px;
}

.text-404 {
    text-align: center;
}

.social-nav {
    margin-left: 2rem;
}

.content-large {
    min-height: 86vh;
}

.content-small{
    min-height: 30vh;
    background-color: #dbc87b;
}

.text-header {
    padding: 10rem;
    z-index: 2;
}

.navbar-collapse{
    z-index: 3;
}

.header {
    background: url('../assets/img/bg-header.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.about {
    padding: 3rem;
}

.overlay {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    pointer-events: none;
    width: 100%;
    min-height: 86vh;
    background-color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 992px) {
    .social-nav {
        margin: 0 !important;
        padding: 1rem 0 1rem 0.6rem !important;
    }

    .nav-link {
        padding: 1rem 0 0 1rem !important;
    }
    .text-header{
        padding: 5rem!important;
    }

}

.social-nav-item {
    display: inline;
    padding: 0px !important;
    margin-left: .5rem;
    color: #705642 !important;
}

.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-size: cover;
}

.icon-instagram {
    background-image: url(../assets/icons/instagram.svg);
}

.languages {
    position: fixed;
    bottom: 1rem;
    left: 5%;
    width: auto;
    z-index: 2;
}

.navbar-toggler {
    width: 25px;
    height: 25px;
    margin-right: 1rem;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #dbc87b;
    border-radius: 19px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/* when navigation is clicked */

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .toggler-icon {
    background: #705642;
}